# Credit Risk Resampling Techniques

In [362]:
import warnings
warnings.filterwarnings('ignore')

In [363]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV into DataFrame

In [416]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [423]:
# One Hot Encoding
df.apply.LabelEncoder().fit_transform
df

AttributeError: 'function' object has no attribute 'LabelEncoder'

In [366]:
# Encoding
#from sklearn.preprocessing import LabelEncoder
#label_encoder = LabelEncoder()
#label_encoder.fit(df["homeowner"])
#df["homeowner"] = label_encoder.transform(df["homeowner"])
#df.head()

In [367]:
#list(label_encoder.classes_)

In [368]:
#label_encoder.fit(df["loan_status"])
#df["loan_status"] = label_encoder.transform(df["loan_status"])
#df.head()

In [369]:
#list(label_encoder.classes_)

# Split the Data into Training and Testing

In [370]:
# Create our features
X = df.drop(columns="loan_status")

# Create our target
y = df['loan_status']

In [371]:
type(y)

pandas.core.series.Series

In [372]:
X.describe()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,48.055278,1581.013774,0.606144,184.097065,184.097065,3.826610,0.392308,184.097065
std,20.930013,666.346585,0.667811,79.064040,79.064040,1.904426,0.582086,79.064040
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37.000000,1170.000000,0.000000,141.000000,141.000000,3.000000,0.000000,141.000000
50%,45.000000,1517.000000,1.000000,174.000000,174.000000,4.000000,0.000000,174.000000
75%,54.000000,1873.000000,1.000000,207.000000,207.000000,4.000000,1.000000,207.000000
max,181.000000,4691.000000,2.000000,661.000000,661.000000,16.000000,3.000000,661.000000

In [373]:
# Check the balance of our target values
df['loan_status'].value_counts() #changed from 'y' to 'df' to get the value count

1    75036
0     2500
Name: loan_status, dtype: int64

In [374]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(58152, 8)

In [375]:
Counter(y_train)

Counter({1: 56277, 0: 1875})

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [376]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [377]:
X_train.head(5)

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
25729,51,1747,0,196,196,4,1,196
20176,42,1394,0,162,162,3,0,162
55080,38,1215,0,145,145,3,0,145
10410,39,1264,0,150,150,3,0,150
63110,35,1076,1,132,132,3,0,132

In [378]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
data_scaler.fit(X_train)

StandardScaler()

In [379]:
# Scale the training and testing data
X_train_scaled = data_scaler.transform(X_train)
X_test_scaled = data_scaler.transform(X_test)

In [380]:
X_train_scaled

array([[ 0.14048731,  0.24882727, -0.90997878, ...,  0.09115188,
         1.04495557,  0.15037313],
       [-0.28970894, -0.28102606, -0.90997878, ..., -0.43434275,
        -0.67471435, -0.2798636 ],
       [-0.48090728, -0.54970523, -0.90997878, ..., -0.43434275,
        -0.67471435, -0.49498196],
       ...,
       [-1.48469854, -1.87358806, -0.90997878, ..., -1.48533201,
        -0.67471435, -1.54526574],
       [-0.28970894, -0.27352105, -0.90997878, ..., -0.43434275,
        -0.67471435, -0.26720958],
       [-1.05450229, -1.32722371, -0.90997878, ..., -0.95983738,
        -0.67471435, -1.10237499]])

# Simple Logistic Regression

In [381]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [382]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9884813049736128

In [383]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  614,    11],
       [  102, 18657]], dtype=int64)

In [424]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
target_names = ["High Risk", "Low Risk"]
print("Imbalanced Classification Report")
print(classification_report_imbalanced(y_test, y_pred, target_names=target_names))

Imbalanced Classification Report
                   pre       rec       spe        f1       geo       iba       sup

  High Risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   Low Risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [385]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({1: 56277, 0: 56277})

In [386]:
y_resampled

0         1
1         1
2         1
3         1
4         1
         ..
112549    0
112550    0
112551    0
112552    0
112553    0
Name: loan_status, Length: 112554, dtype: int32

In [387]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [388]:
# Calculate the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9932279972279972

In [389]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  620,     5],
       [  104, 18655]], dtype=int64)

In [390]:
# Print the imbalanced classification report
target_names = ["High Risk", "Low Risk"]
print(classification_report_imbalanced(y_test, y_pred, target_names=target_names))

                   pre       rec       spe        f1       geo       iba       sup

  High Risk       0.86      0.99      0.99      0.92      0.99      0.99       625
   Low Risk       1.00      0.99      0.99      1.00      0.99      0.99     18759

avg / total       1.00      0.99      0.99      0.99      0.99      0.99     19384

### SMOTE Oversampling

In [391]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train, y_train)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({1: 56277, 0: 56277})

In [392]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [393]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9932279972279972

In [394]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  620,     5],
       [  104, 18655]], dtype=int64)

In [395]:
# Print the imbalanced classification report
target_names = ["High Risk", "Low Risk"]
print(classification_report_imbalanced(y_test, y_pred, target_names=target_names))

                   pre       rec       spe        f1       geo       iba       sup

  High Risk       0.86      0.99      0.99      0.92      0.99      0.99       625
   Low Risk       1.00      0.99      0.99      1.00      0.99      0.99     18759

avg / total       1.00      0.99      0.99      0.99      0.99      0.99     19384

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [396]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({0: 1875, 1: 1875})

In [397]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [398]:
# Calculate the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9932279972279972

In [399]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[  620,     5],
       [  104, 18655]], dtype=int64)

In [400]:
# Print the imbalanced classification report
target_names = ["High Risk", "Low Risk"]
print(classification_report_imbalanced(y_test, y_pred, target_names=target_names))

                   pre       rec       spe        f1       geo       iba       sup

  High Risk       0.86      0.99      0.99      0.92      0.99      0.99       625
   Low Risk       1.00      0.99      0.99      1.00      0.99      0.99     18759

avg / total       1.00      0.99      0.99      0.99      0.99      0.99     19384

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [401]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({0: 74085, 1: 74099})

In [402]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [403]:
# Calculate the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9947746894823818

In [404]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  106, 18653]], dtype=int64)

In [405]:
# Print the imbalanced classification report
target_names = ["High Risk", "Low Risk"]
print(classification_report_imbalanced(y_test, y_pred, target_names=target_names))

                   pre       rec       spe        f1       geo       iba       sup

  High Risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   Low Risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Final Questions

1. Which model had the best balanced accuracy score?

   SMOTE Oversampling at 0.9948279972279972

2. Which model had the best recall score?

    All models performed well at 0.99

3. Which model had the best geometric mean score?

    All models performed well at 0.99